.imagenes--clientes{
    background-color: $colorBg;
    border-radius: 25px;
    margin: 10px;
    padding: 30px 15px;
}
.audios{
    width:100%;
    background-color: $color2;
}
.imagenes__logo--footer{
    height: 100px;
    padding-top: 10px;
    margin-bottom: 30px;
}