.imagenes--clientes{
    background-color: $colorBg;
    width: 250px;
    height: 200px;
    border-radius: 25px;
    margin: 10px;
}
.audios{
    width:100%;
    height:166px;
    background-color: $color2;
}
.imagenes__logo--footer{
    height: 100px;
    padding-top: 10px;
}