@media only screen and (max-width:349px)  {
#main{
    display: none;
}
}

@media only screen and (min-width:350px) and (max-width:799px)  {
    .contenedor__nosotros{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contenedor__nosotros--texto {
        width: 100%;
        margin: 5px;
        padding: 30px;
    }

    .contenedor__nosotros--imagen{
        margin: 0px;
    }
    .contenedor__trabajos{
        display: inline;
    }
    .contenedor__contacto {
        display: inline;
    }
    .contenedor__trabajos--cards{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .contenedor__cards--center {
        border-left: 0px solid #FFF;
        border-radius: 0px;
        border-right: 0px solid #fff;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #fff;
    }
    .contenedor__cards{
        margin: 5px;
    }

    .contenedor__mapa{
        width: 80%;
    }
    .mapa{
        width: 100%;
    }
    .contenedorTarjeta{
        img{
            width: 30%;
            margin: 5px;
    padding: 5px;
        }
    }
  }
  
  @media only screen and (min-width:800px) and (max-width:991px) {
    .contenedor__nosotros{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .contenedor__nosotros--texto {
        width: 80%;
        margin: 74px;
        padding: 50px;
    }
    .contenedor__trabajos{
        display: inline;
    }
    .contenedor__contacto {
        display: inline;
    }
    .contenedor__trabajos--cards{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    .contenedor__cards--center {
        border-left: 0px solid #FFF;
        border-radius: 0px;
        border-right: 0px solid #fff;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #fff;
    }
    .contenedor__cards{
        margin: 5px;
    }
  }

  @media only screen and (min-width:992px) and (max-width:1200px) {
    .contenedor__nosotros{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .contenedor__nosotros--texto {
        width: 80%;
        margin: 74px;
        padding: 50px;
    }
    .contenedor__contacto {
        display: inline;
    }

    .contenedor__cards{
        margin: 5px;
    }
  }
  